<h3>Please configure the server to include the following required environment variables:</h3>
<ul>
  <li>ITC_USER</li>
  <li>ITC_PASSWORD</li>
</ul>

<b>Recommended</b>: ITC_APP_ID (the App ID of your app, e.g. 1020919327)<br /><br />

More information on <a href="https://github.com/fastlane/boarding">GitHub</a>