<div class="container">
  <h3>Please configure the server to include the following required environment variables:</h3>
  <ul>
    <li>ITC_USER</li>
    <li>ITC_PASSWORD</li>
  </ul>

  <h4>Recommended:</h4>
  <ul>
  <li>ITC_APP_ID (the App ID of your app, e.g. 1020919327)</li>
  <li>FASTLANE_ITC_TEAM_NAME (If you're in multiple teams, enter the name of your iTC team here. Make sure it matches.)</li>
  </ul>

  More information on <a href="https://github.com/fastlane/boarding">GitHub</a>
</div>
